.container {
    margin: 5px;
    width: auto;
    height: 420px;
}

.container > a:link {
    display: flex;
    text-decoration: none;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding-left: 5px;
    width: 222px;
    height: 360px
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;

    transition: all .1s ease-in-out;
}

.item:hover {
    transform: scale(1.1);
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.flex-item {
    flex: 0 0 auto;
}