:root {
    color-scheme: light dark;
    --special-text-color: hsla(60, 100%, 50%, 0.5);
    --special-link-color: black;
    --border-color: black;
    --special-background: #d7d7d7;

    --special-left-padding: 120px;

    --item-background: #ebebeb;
    --item-box-shadow-top: #a5a5a5;
    --item-box-shadow-bottom:  #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --special-text-color: hsla(60, 50%, 70%, 0.75);
        --special-link-color: white;
        --border-color: white;
        --special-background: #222222;

        --item-background: #222222;
        --item-box-shadow-top: #181818;
        --item-box-shadow-bottom:  #2c2c2c;
    }
}

@media only screen and (max-width: 600px) {
  :root {
    --special-left-padding: 10px;
  }
}

@font-face {
    font-family: JetBrainsMono;
    src: url("fonts/JetBrainsMono-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: JetBrainsMono;
    src: url(fonts/JetBrainsMono-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: JetBrainsMono;
    src: url(fonts/JetBrainsMono-Bold-Italic.ttf");
    font-style: italic;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

body {
    background-color: var(--special-background);
    padding-left: var(--special-left-padding);
    font-family: "JetBrainsMono", -apple-system, Roboto, Helvetica, sans-serif;
}

a:link, a:visited {
    color: var(--special-link-color);
    text-decoration: none;
    font-style: italic;
}

a:hover, a:active {
    text-decoration: underline;
}

.list {
    padding-left: 20px;
}

td {
    vertical-align: baseline;
    padding: 5px;
}

.comment {
    font-style: regular;
    font-size: 0.7em;
}

.inlinecode {
    background: #f4f4f4;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 11px;
    line-height: 10px;
    overflow: auto;
    padding: 0.1em 0.5em;
    display: inline-block;
    word-wrap: break-word;
    border-radius: 0.1em;
}

.snippet {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 11px;
    line-height: 10px;
    margin-bottom: 1.6em;
    max-width: 80%;
    overflow: auto;
    padding: 0.5em 0.5em;
    display: block;
    word-wrap: break-word;
    border-radius: 0.2em;
}