:root {
    color-scheme: light dark;
    --special-text-color: hsla(60, 100%, 50%, 0.5);
    --special-link-color: black;
    --border-color: black;

    --special-left-padding: 120px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --special-text-color: hsla(60, 50%, 70%, 0.75);
        --special-link-color: white;
        --border-color: white;
    }
}

@media only screen and (max-width: 600px) {
  :root {
    --special-left-padding: 10px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

h1 {
    font-family: 'Playfair Display', black italic;
}

body {
    padding-left: var(--special-left-padding);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a:link, a:visited {
    color: var(--special-link-color);
    text-decoration: none;
    font-style: italic;
}

a:hover, a:active {
    text-decoration: underline;
}

.list {
    padding-left: 20px;
}

td {
    vertical-align: baseline;
    padding: 5px;
}

.comment {
    font-style: italic;
}